.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

opencv/
debug/

# External Tool Builders
-externalToolBuilders/

#Locally stored "Eclipse launch configuration"
*.launch

#CDT-specific
.cproject

#JDT-specific
.classpath
